
/* COMMON STYLES */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #abd1c6; */
}

html{
font-size: 10px;
font-family: 'Montserrat', Calibri;
scroll-behavior: smooth;
}

img{
height: 100%;
width: 100%;
object-fit: cover;
} 
a{
    text-decoration: none;
}

hr{
    line-height: 40px;
    font-weight: 200;
    color: white;
}

p{
        color: black;
        font-size:1.8rem;
        margin-top: 5px;
        line-height: 2.5rem;
        font-weight: 300;
        letter-spacing:0.05rem ;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title{
    font-size: 4rem;
    font-weight: 500;
    color:#001e1d;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    margin-bottom: 20px;
    }
    
.section-title span{
    color:#f9bc60;
    font-weight: 500;
    }

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span{
    color:#f9bc60;
}

 .cta{
        display: inline-block;
        padding: 10px 30px;
        color:white;
        background-color: transparent;
        border: 2px solid white;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 36px;
        transition-property: background-color, color;
    }
.cta:hover{
        color: white;
        background-color:#f9bc60;
    }

/* COMMON STYLE */


/* START OF HEADER SEACTION */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: rgba(29, 43, 40, 0);
    transition: .3s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width:  1300px;
    padding: 0 10px;

}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31,30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
} 

#header .nav-list ul.active{
    left: 0%;
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing:.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
} 

#header .nav-list ul li:hover a{
    color:#f9bc60;
}

#header .nav-list ul a::after{
    /* content:'tttt'; */
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color:#5b8a7c10;
    font-size: 11rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial ;
}

/* END OF HEADER SEACTION */

/* START OF HAMBURGER */
#header .hamburger{
	height: 60px;
	width: 60px;
	display:block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger:after{
    position: absolute;
    content:'';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_pulse 1s ease infinite;
} 

#header .hamburger .bar{
    height: 2px;
    width:  30px;
    position: relative;
    background-color: white;
    z-index: -1;  
} 
  
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}

/* JAVASCRIPT */
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top:0;
}

/* END OF HAMBURGER */


/* HERO SECTION STYLE */
#hero{
    background-image: url(/img/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
}



#hero .hero{
max-width: 1200%;
margin: 0  auto;
padding:50px 50px;
justify-content: center;
align-items: flex-end;
/* display: block; */
}

#hero .hero .items{
    display: block;
    justify-content: center;
    /* background-color: #f9bc60; */
    
    
}

#hero::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0f3433;
    opacity: .7;
    z-index: -1;
}
#hero h1{
    display: block;
    align-items: center;
    width: fit-content;
    font-size: 3.5rem;
    position: relative;
    color:transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
 
    
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #f9bc60;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
    }
    
    #hero h1:nth-child(2){
        animation-delay: 2s;
    }
    #hero h1:nth-child(3){
        animation-delay: 3s;
        animation:text_reveal_name .5s ease forwards;
    }
       
#hero h1:nth-child(1) span{
animation-delay:.5s ;
}

#hero h1:nth-child(2) span{
    animation-delay:1.5s ;
}

#hero h1:nth-child(3) span{
animation-delay:2.5s ;
}
    


/* END HERO HERE */

/* BLOG SECTION START*/

#blog{
    background:#abd1c6;
}

#blog .blog{
    flex-direction: column;
    text-align:center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}



#blog .blog-item{
    color:white;
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    flex-direction: column;
    padding: 10px;
    margin: 30px 5%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); 
    background-size: cover;
    position: relative;
    z-index: 1;
}     

#blog .blog-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 50px;
   }

#blog .blog-top p{
margin-top: 5px;
margin-bottom: 20px;
line-height:2.5rem;
font-weight: 300;
letter-spacing: .05rem;
}

#blog .blog-top{
    max-width: 500px;
    margin: 0 auto;
}
 
#blog .blog-item h2{
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

#blog .blog-item p{
    color: white;
    text-align: left;
    
}


#blog .blog-item{
    transition:  .3s ease tras;
}

#blog .blog-img img{
    height: 100%;
    width: 100%;
}

#blog .blog-item:hover {
    transform: scale(1.1);
}

#blog .blog-item:after {
    content: "";
    position: absolute;
    left: 0;
    top:  0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 2%, #485563 100%); 
    opacity: .6;
    z-index: -1;
}

#blog a:link{
    color: white;
}

#blog a:visited{
    color: white;
}

#blog a:hover{
    color: white;
}

#blog a:active{
    color: white;
}


/* End OF BLOG SECTION */


/* PROJECT SECTION START */
#projects{
    background:#abd1c6;
    color:white;
}

#projects .projects{
    flex-direction: column;
    text-align:center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}

#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius:10px;

}

#projects .project-info{
    padding: 30px;
    flex-basis:50%;
    height: 100%;
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image:linear-gradient(60deg, #2f3f36 0%, #485563 100%); 
}

#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p{
color: white;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after {
    content: "";
    position: absolute;
    left: 0;
    top:  0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 2%, #485563 100%); 
    opacity: .7;
}

#project .project-img img{
    transition:  .3s ease tras;
}

#projects .project-item:hover .project-img img{
transform: scale(1.1);
}

/* PROJECT SECTION END */


/* START OF ABOUT SECTION */

#about{
    background: #abd1c6;
}

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

#about .col-left{
    width: 250px;
    height: 360px;
}

#about .col-right{
    width: 100%;
}

#about .col-right h2{
    /* text-decoration: bold; */
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom:  20px;
}

#about .col-right p{
    margin-bottom: 20px;
}

#about .col-right .cta{
    color:black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 1.8 rem;
}

#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid #001e1d;
    z-index: 1;
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 8px solid #001e1d;
    z-index: -1;
}

/* END OF ABOUT SECTION */

/*  START OF CONTACT*/
#contact{
    background: #abd1c6;
}
#contact .contact{
flex-direction: column;
max-width: 1200px;
margin: 0 auto;
}

#contact .contact-items{
    width: 400px;
    
}
#contact .contact-item{
    background-color:rgb(230, 245, 238);
    width: 8 0%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0px #001e1d;
    transition: .3s ease box-shawdow;
}

#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0px #001e1d;
}

#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.3rem;
    font-weight: 500;
}


#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}



/* END OF CONTACT */

/* START OF FOOTER */
#footer {
    background-image: linear-gradient(60deg, #29323c 2%, #485563 100%);
}

#footer .footer {
	min-height: 150px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 300;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}

/* * END OF FOOTER */ 







/* START OF MEDIA QUERY TABLET */
@media only screen and (min-width:768px){
    .cta {
        font-size: 2.5rem;
        padding:20px 60px;

    }
    h1.section-title{
        font-size: 6rem;
    }
#hero h1{
    font-size: 6rem;
}

#blog .blog-bottom .blog-item{
    flex-basis: 45%;
    margin:2.5%;
}
#projects .project-item{
    flex-direction: row;
}

#projects .project-item:nth-child(even){
    flex-direction: row-reverse;
}

#projects .project-item{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

#projects .all-projects .project-info{
    height: 100%;
}

#projects .all-projects .project-img{
    height: 100%;
}

#about .about{
    flex-direction: row;
}
#about .col-left{
    width: 600px;
    height: 400px;
    padding-left: 60px;
}

#about .about .col-left .about-img::after{
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid #001e1d;
}
 
#about .col-left{
   text-align: left;
   padding: 30px; 
}

#about .col-right h1{
    text-align: left;
}
#contact .contact{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    /* padding: 100px 0; */
    /* align-items: center; */
    justify-content: center;
    min-width: 20vw;

}

#contact .contact-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;

} 
#contact .contact-item{
width: 30%;
margin: 0;
flex-direction: row;
}


#contact .contact-item .icon{
    height: 100px;
    width: 100px;
}

#contact .contact-item .icon img{
object-fit: contain;
}

#contact .contact-item .contact-info{
    width: 100%;
    text-align:left;
    align-items: center;
    padding-left: 20px;
}

#footer .footer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#footer p{
    flex-direction: row;
}

#footer .brand{
    padding: 6px;
}

}
/* END OF MEDIA QUERY */


/* MEADIA QUERY FOR DESKTOP */
@media only screen and (min-width: 1200px){
    #blog .blog-bottom .blog-item{
        flex-basis: 22%;
        margin: 1.5%;
    }

    #header .hamburger{
        display: none
    }


    #header .nav-list ul li{
        display: inline-block;
    }

    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul a:after{
        display: none;
    }
}


/* END OF MEDIA QUERY FOR DESKTOP */
/* Keyframes -- text reveal box */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color:white;
    }
}
@keyframes text_reveal_name{
    100%{
        color:#f9bc60;
        font-weigt:500;
    }
}

@keyframes hamburger_pulse {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

